.from{
    margin-top: 1%;
   
}
#outlined-basic{
    margin-top: 20px;
    width: 500px;
    color: black;
    
}
.textfileds{
    align-items: center;
    justify-content: center;
    margin-left: 38%;
    color: black;
    

}
.Heading{
    margin-left: 100px;
    color: black;
}
#myButton{
    margin-left: 150px;
    margin-top: 40px;
    width: 200px;
    background-color:black;
}
#link{
    margin-left: 1500px;
}
.appBar{
    height: 200px;
    justify-content: center;
}
.Total{
    display: none;
}
.MainDiv{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(248, 248, 248, 0.2) 100%), linear-gradient(180deg, #000000 0%, #FFFFFF 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(237, 228, 228, 0) 100%), linear-gradient(180deg, #000000 0%, #FFFFFF 100%);
}